{% extends 'articles/base.html' %}

{% block content %}


<div id="bl-back">
    <div class="container" id="bl-back">
        <br>   
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card black-text">
                    <div class="card-content">
                        <div class="card-image">
                            <img src="{{ object.image.url }}" alt="{{object.title}}" id="article-image">
                        </div>
                        <span class="card-title center lora"> <h2>{{object.title}}</h2> 
                        <hr>
                        <p> <h4>{{object.subtitle}}</h4>  </p>
                        </span>
                        <br>
                        <p class="white">{{object.content|safe}}</p>
                        <br>
                        <hr>
                        <br>
                        <h6> By {{object.author}} on {{object.date_posted|date:"F d, Y"}} </h6>
                        <br>
                         <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
                            
                            <span style="font-size: 3em;">
                                <i class="fab fa-facebook-f"></i>
                              </span>
                        </a> 
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
{% endblock content %}